<div class="container-fluid">
  <div class="row row1">
    <div class="pull-left">
      <h4>Welcome to Employee Name</h4>
    </div>
  </div>
  <div class="row row2">
    <div class="col pull-left">
      <button type="submit" class="btn btn-primary ">Activity Recordiing Menu</button>
    </div>
    <div class="col pull-right btns">
      <button type="submit" class="btn btn-primary ">Profile</button>
      <button type="submit" class="btn btn-primary">LogOut</button>
    </div>
  </div>
  <br>
  <div>
    <h6  style="padding-left: 18px;">Work Activity Recording</h6>
  </div>

  <div class="col-2">
    <app-ngbd-datepicker-popup></app-ngbd-datepicker-popup>
  </div>
  <br>
  <div class="form-container">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-6 pull-right">
            <label>Application</label>
          </div>
          <div class="col-3">
            <div>
              <h5 >vacation Time Used:&nbsp;&nbsp;
                <input type="" value="0.00" class="inp">
              </h5>
            </div>
          </div>
          <div class="col-3">
            <div>
              <h5>Illness Time Used:&nbsp;&nbsp;
                <input type="" value="0.00" class="inp">
              </h5>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="w3-row">
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Id#</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:24%">
            <p>Phase</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:23%">
            <p>Task</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:7%">
            <p>Worklog</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Sun</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Mon</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Tue</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>wed</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Thu</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Fri</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Sat</p>
          </div>
          <div class="w3-col w3-dark-grey w3-container" style="width:5%">
            <p>Total</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="w3-row">
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" name="" id="">
            <span class="glyphicon glyphicon-search"></span>
          </div>
          <div class="w3-col  w3-container" style="width:24%">
            <input type="text" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:23%">
            <input type="text" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:7%">
            <input type="text" class="inp" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            <input type="text" class="inp" value="0.00" name="" id="">
          </div>
          <div class="w3-col  w3-container" style="width:5%">
            0.00
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6">
            <h4 style="color: #303235; padding-left: 0px;">Totals</h4>
            <h5 >Total Application Tab Hours: 0.00</h5>
            <h5 >Total over all Hours: 0.00</h5>
            <br>
            <br>
            <h6>||Country: USA|| State: NJ|| Authorization Level: A</h6>
            <h6>||Role: Program Analyst||</h6>
          </div>
          <br>
        </div>
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col-9"></div>
            <div class="col-1">
              <button class="btn btn-primary btnsub ">Save</button>
            </div>
            <div class=" col-2 float-right">
              <button class="btn btn-primary btnsub ">Submit for spproval</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>



</div>